<section class="thumb-slider">
    <div class="wrapper">
        <aside>
            <div class="slider-box">
            <img src="{{ '/' | url }}static/img/s1.png">
            </div>
            <div class="slider-box">
            <img src="{{ '/' | url }}static/img/s2.png">
            </div>
            <div class="slider-box">
            <img src="{{ '/' | url }}static/img/s3.png">
            </div>
            <div class="slider-box">
            <img src="{{ '/' | url }}static/img/s4.png">
            </div>
            <div class="slider-box">
            <img src="{{ '/' | url }}static/img/s5.png">
            </div>   
        </aside>
    </div>
</section>

