---
layout: layouts/base.njk
section: home
---
{% include "components/slider.njk" %}
<section class="wrapper">		
    <div class="cont-left">
        {{ layoutContent | safe }}
    </div>
    <div class="cont-right">
        {% include "components/contright.njk" %}
    </div>
</section>

