---
layout: layouts/base.njk
section: komunitas
permalink: /komunitas/index.html
---
{% include "components/imgpage.njk" %}
<section class="wrapper">
    <h1>{{ title }}</h1>
        {{ layoutContent | safe }}

        {% set postslist = collections.posts %}
        {% include "components/komunitaslist.njk" %}
</section>